.float-left {
  float: left;
}

.float-right {
  float: right;
}

.height-60 {
  height: 60px;
}

.height-40 {
  height: 40px;
}

.width-100p {
  width: 100%;
}

.btn {
  border-radius: 16px;
}

.form-control {
  border-radius: 16px;
}

.icon-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.bottom-0-left-5 {
  bottom: 0;
  left: 5px;
}

.top-11-left-30 {
  top: 11px;
  left: 30px;
}

.color-grey {
  color: grey;
}

.rounded-corners {
  border-radius: 15px;
}