.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fs-50 {
  font-size: 50px;
}

.height-60 {
  height: 60px;
}

.height-40 {
  height: 40px;
}

.width-100p {
  width: 100%;
}

.width-50p {
  width: 50%;
}

.btn {
  border-radius: 16px;
}

.form-control {
  border-radius: 16px;
}

.icon-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.bottom-5-left-5 {
  bottom: 5px;
  left: 5px;
}

.top-11-left-30 {
  top: 11px;
  left: 30px;
}

.color-grey {
  color: dimgray;
}

.rounded-corners {
  border-radius: 50px;
}

.cyborg-grey-background {
  background: #222;
}

.color-cyborg-grey {
  color: #222;
}

.light-grey-border {
  border-top: 1px solid dimgray;
}

.wd-tabs li {
  display: inline;
}
.wd-tabs {
  padding-left: 0px;
}
.wd-selected {
  border-bottom: 2px blue solid;
  padding-bottom: 20px;
}
.wd-nudge-up {
  bottom: 18px;
  left: 25px;
}
.wd-bottom-2 {
  bottom: 2px;
}
.wd-bottom-4 {
  bottom: 4px;
}

.x-lg-text {
  font-size: x-large;
}

.border-radius-50 {
  border-radius: 50px;
}